<div class="card article-show">
  <div class="card-content">
    <div class="container">
      <h1><%= @article.title %></h1>
      By <%= @article.user.username %> on <%= @article.created_at.strftime("%b %d, %Y") %>
      <br><br><br>
      <div class="justify-text">
        <span class="article-content"><%= @article.content %></span>
      </div>
    </div>
    <div class="card-divider"></div>
    <div class="article-footer">
      <span class="comment-icon">
        <i class="material-icons">comment</i>
        <%= @article.comments.size %>
      </span>
      <% if is_logged_in? %>
        <%= form_for(Like.new) do %>
          <%= hidden_field_tag :user_id, current_user.id %>
          <%= hidden_field_tag :article_id, @article.id %>
          <%= submit_tag "favorite" %>
          <%= @article.likes.size %>
        <% end %>
      <% else %>
        <a href="/login">
          <i class="material-icons">favorite_border</i>
          <%= @article.likes.size %>
        </a>
      <% end %>
    </div>
  </div>
</div>

<div class="comments-section">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h4 style="color: rgba(160,160,160,0.5);">Comments:</h4>
          <div class="card-divider"></div>
          <% if is_logged_in? %>
            <div class="card comment-form">
              <div class="card-content">
                <%= form_for(Comment.new) do %>
                <%= text_field_tag :content %>
                <%= hidden_field_tag :article_id, @article.id %>
                <%= hidden_field_tag :user_id, current_user.id %>
                <%= submit_tag "Submit", class: "button button-primary" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="comments-list">
        <% @comments.reverse_each do |comment| %>
          <div class="row">
            <div class="col s12">
              <div class="card hoverable">
                <div class="card-content">
                  <p>
                    By <%= comment.user.username %> on <%= comment.created_at.strftime("%b %d, %Y") %>
                  </p>
                  <div class="card-divider"></div>
                  <p>
                    <%= comment.content %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
