<!DOCTYPE html>
<html>
  <head>
    <title>TAssOsBlog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper main-nav">
        <a href="/" class="brand-logo"><i class="material-icons">format_boldmode_edit</i></a>
        <ul id="nav-mobile" class="hide-on-med-and-down c-center-align">
          <li><a href="/" id="home-nav">Home</a></li>
        </ul>
        <ul id="nav-mobile" class="hide-on-med-and-down nav-left-list c-vertical-align">
          <% if is_logged_in? %>
            <li style="top: 50%; transform: translate(0%, -50%);"><span class="nav-user">Hello, <%= current_user.firstName %></span></li>
            <li><%= link_to "Log out", login_path, method: "delete", class: "button-shaved" %></li>
          <% else %>
            <!-- TODO: LINK TO SIGNUP PAGE -->
            <li><%= link_to "Login", login_path, method: "get", class: "button-shaved" %></li>
            <li><a href="#" class="button button-secondary">Sign Up</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
